.burger {
	display: none;
	position: relative;
	width: 24px;
	height: 24px;
	background-color: transparent;
	// transform: translateY(13px);
	cursor: pointer;

	@include tablet {
		display: block;
	}

	&__line {
		position: absolute;
		left: 0;
		top: 50%;
		border-radius: 50px;
		width: 100%;
		height: 3px;
		background-color: var(--primary-clr);
		transform: translateY(-50%);
		transition: opacity 0.3s ease-in-out;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			border-radius: 50px;
			width: 100%;
			height: 3px;
			background-color: var(--primary-clr);
			transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
				bottom 0.3s ease-in-out;
		}

		&::before {
			top: -11px;
		}

		&::after {
			bottom: -11px;
		}
	}

	&--active &__line {
		opacity: 0;
	}
}

.burger-close {
	position: relative;
	display: none;
	position: absolute;
	top: 35px;
	left: calc(var(--container-offset) + 2px);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-image: url('../img/burger-close.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;

	@include tablet {
		display: block;
	}

	@include mobile {
		transform: translateX(4px);
	}
}
