.city-filter {
	@include flex-v-center;
	margin-right: 20px;
	// width: 182px;

	&__caption {
		min-width: 98px;
		margin: 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: var(--black-clr);
	}

	// Choices input styles
	.choices {
		width: 100%;
		z-index: 11;
	}

	.choices__inner {
		position: relative;
		min-width: 90px;
		min-height: 23px;
		border: none;
		margin: 0;
		padding: 2px 3px;
		padding-left: 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: var(--primary-clr);
		transition: color 0.3s ease-in-out;

		@include big-tablet {
			background-color: var(--light-clr);
		}

		&:focus-visible {
			background-color: var(--pink-violet-clr);
		}

		&:hover {
			color: var(--primary-light-clr);
		}
		&:active {
			color: var(--primary-shade-clr);
		}
	}

	.choices__placeholder {
		opacity: 1;
	}

	.choices-list {
		&--single {
			height: 100%;
			outline: none;
		}
	}

	.choices[data-type*='select-one'] .choices__inner {
		padding-bottom: 0;
	}

	.choices__list--dropdown .choices__item--selectable:after {
		display: none;
	}

	// Choices icon styles
	.choices[data-type*='select-one'] {
		&:after {
			top: 13px;
			right: 10px;
			margin-top: 0;
			border: none;
			width: 13px;
			height: 8px;
			background-image: url('data:image/svg+xml,%3Csvg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6.65674 5.80521L11.5593 0.902607L12.3136 1.65685L6.65674 7.31371L0.999884 1.65685L1.75413 0.902607L6.65674 5.80521Z" fill="%23A65CF0"/%3E%3C/svg%3E%0A');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			transition: transform 0.3s ease-in-out, background-image 0.3s ease-in-out;
		}

		&:hover::after {
			background-image: url('data:image/svg+xml,%3Csvg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6.65674 5.80521L11.5593 0.902607L12.3136 1.65685L6.65674 7.31371L0.999884 1.65685L1.75413 0.902607L6.65674 5.80521Z" fill="%23C998FB"/%3E%3C/svg%3E%0A');
		}

		&:active::after {
			background-image: url('data:image/svg+xml,%3Csvg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6.65674 5.80521L11.5593 0.902607L12.3136 1.65685L6.65674 7.31371L0.999884 1.65685L1.75413 0.902607L6.65674 5.80521Z" fill="%237033AC"/%3E%3C/svg%3E%0A');
		}

		&.is-open {
			&:after {
				transform: rotate(180deg) translateY(20%);
				background-image: url('data:image/svg+xml,%3Csvg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6.65674 5.80521L11.5593 0.902607L12.3136 1.65685L6.65674 7.31371L0.999884 1.65685L1.75413 0.902607L6.65674 5.80521Z" fill="%237033AC"/%3E%3C/svg%3E%0A');
			}
		}
	}

	// Choices list dropdown
	.choices__list--dropdown,
	.choices__list[aria-expanded] {
		top: 30px;
		left: -2px;
		min-width: 84px;
		min-height: 114px;
		margin-top: -1px;
		border: 2px solid var(--grey-light-clr);
		border-radius: none;
		background-color: var(--light-clr);
	}

	// .choices__list--dropdown .choices[data-type*='select-one'] {
	// 	display: none;
	// }

	.choices__list--dropdown .choices__item--selectable,
	.choices__list[aria-expanded] .choices__item--selectable {
		padding-right: 5px;
	}

	.choices__list--dropdown .choices__item--selectable.is-highlighted,
	.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
		background-color: var(--light-clr);
	}

	// Choices selected item hidden
	.choices__list--dropdown .is-selected.choices__item {
		display: none;
	}

	.is-open .choices__list--dropdown .choices__item:hover {
		background-color: var(--pink-violet-clr);
	}
}
