.section-title {
	margin: 0;
	margin-bottom: 26px;
	font-weight: 400;
	font-size: 32px;
	line-height: 100%;
	color: var(--black-clr);

	@include mobile {
		font-weight: 400;
		font-size: 24px;
		line-height: 100%;
	}
}
