.slider-nav {
	@include flex-all-sb;
	width: 78px;
	padding-bottom: 26px;
	z-index: 15;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	&__btn {
		@include flex-all-center;

		border-radius: 100%;
		width: 32px;
		height: 32px;
		color: var(--primary-clr);
		border: 2px solid var(--primary-clr);
		transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

		svg {
			display: block;
			width: 7px;
			height: 12px;
			fill: inherit;
			fill: transparent;
			-o-object-fit: cover;
			object-fit: cover;

			@include flex-all-center;
			.arrow-right,
			.arrow-left {
				stroke: currentColor;
				stroke-width: 2px;
				stroke-linecap: round;
			}

			&:after {
				width: 10px;
				height: 10px;
			}
		}

		&:focus-visible {
			border: 2px solid var(--primary-clr);
			color: var(--light-clr);

			background-color: var(--primary-light-clr);
			outline: none;
		}

		&:hover {
			color: var(--light-clr);
			background-color: var(--primary-clr);
		}

		&:active {
			color: var(--light-clr);
			background-color: var(--primary-shade-clr);
			border: 2px solid var(--primary-shade-clr);
		}
	}
}
.slider-nav__btn.swiper-button-disabled {
	color: var(--grey-clr);
	background-color: var(--light-clr);
	border: 2px solid var(--grey-clr);
	pointer-events: none;
}
