.social {
	@include flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -15px;

	&__item {
		@include mr(10px);
		margin-bottom: 15px;
	}

	&__link {
		position: relative;
		z-index: 1;
		display: block;
		width: 30px;
		height: 30px;

		&::after {
			content: '';
			position: absolute;
			inset: -3px;
			z-index: -1;
			background-color: var(--primary-light-clr);
			opacity: 0;
			transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
		}

		svg {
			display: block;
			width: 100%;
			height: 100%;
			fill: var(--grey-clr);
			-o-object-fit: cover;
			object-fit: cover;
			transition: opacity 0.3s ease-in-out, fill 0.3s ease-in-out;
		}

		&:focus-visible {
			outline: none;

			&:not(:active)::after {
				opacity: 1;
			}
			svg {
				fill: var(--light-clr);
			}
		}

		&:hover {
			svg {
				fill: var(--primary-clr);
			}
		}

		&:active {
			svg {
				fill: var(--primary-shade-clr);
			}
		}
	}
}
