<section class="hero">
  <h1 class="visually-hidden">Sit down pls web site</h1>
  <div class="hero__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero__slide hero__slide--1">
          <div class="container hero__container">
            <div class="hero__content">
              <h2 class="main-title main-title--home">Скидка 15% на первую покупку</h2>
              <button class="btn-reset btn btn--fill hero__btn">Получить!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide hero__slide--2">
          <div class="container hero__container">
            <div class="hero__content">
              <h2 class="main-title main-title--home">1000+ аксессуаров для дома</h2>
              <button class="btn-reset btn btn--fill hero__btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__slide hero__slide--3">
          <div class="container hero__container">
            <div class="hero__content">
              <h2 class="main-title main-title--home main-title--light">Коллекция стильного и яркого текстиля</h2>
              <button class="btn-reset btn btn--fill hero__btn">Подробнее</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination hero__pag"></div>
  </div>
  <div class="centered">
    <button class="btn-reset btn btn--fill hero__btn hero__btn--mobile">Получить!</button>
  </div>

</section>
