<section class="high-rating">
  <div class="container">
    <h3 class="section-title">Высокий рейтинг</h3>
    <ul class="high-rating__list list-reset">
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--1">
          <div class="card__img-wrapper">
            <a href="#" title="Диван кожаный “R-94”">
              <picture>
                <source srcset="img/high-rating-1.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-1.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-1.avif" type="image/avif">
                <source srcset="img/high-rating-1.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-1.png" class="card__img" width="266" height="82"
                  alt="Диван кожаный “R-94”">
              </picture>
            </a>
          </div>
          <span class="card__star">5,0</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван кожаный “R-94”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">94 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--2">
          <div class="card__img-wrapper">
            <a href="#" title="Диван апартековый “T-75”">
              <picture>
                <source srcset="img/high-rating-2.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-2.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-2.avif" type="image/avif">
                <source srcset="img/high-rating-2.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-2.png" class="card__img" width="261" height="101"
                  alt="Диван апартековый “T-75”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,9</span>
          <div class="card__content">
            <h3 class="card__title card__title--2">
              Диван&nbsp;апартековый “T-75”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">69 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--3">
          <div class="card__img-wrapper">
            <a href="#" title="Диван тканевый “D-31”">
              <picture>
                <source srcset="img/high-rating-3.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-3.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-3.avif" type="image/avif">
                <source srcset="img/high-rating-3.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-3.png" class="card__img" width="262" height="103"
                  alt="Диван тканевый “D-31”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,8</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван тканевый “D-31”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">28 490 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--4">
          <div class="card__img-wrapper">
            <a href="#" title="Диван велюровый “Y-68”">
              <picture>
                <source srcset="img/high-rating-4.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-4.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-4.avif" type="image/avif">
                <source srcset="img/high-rating-4.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-4.png" class="card__img" width="257" height="125"
                  alt="Диван велюровый “Y-68”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,8</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван велюровый “Y-68”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">22 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--5">
          <div class="card__img-wrapper">
            <a href="#" title="Диван из шинила “W-95”">
              <picture>
                <source srcset="img/high-rating-5.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-5.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-5.avif" type="image/avif">
                <source srcset="img/high-rating-5.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-5.png" class="card__img" width="265" height="117"
                  alt="Диван из шинила “W-95”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,8</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван из&nbsp;шинила “W-95”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">22 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--6">
          <div class="card__img-wrapper">
            <a href="#" title="Диван флоковый “G-41”">
              <picture>
                <source srcset="img/high-rating-6.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-6.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-6.avif" type="image/avif">
                <source srcset="img/high-rating-6.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-6.png" class="card__img" width="271" height="117"
                  alt="Диван флоковый “G-41”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,8</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван флоковый “G-41”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">17 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--7">
          <div class="card__img-wrapper">
            <a href="#" title="Диван шиниловый “V-43”">
              <picture>
                <source srcset="img/high-rating-7.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-7.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-7.avif" type="image/avif">
                <source srcset="img/high-rating-7.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-7.png" class="card__img" width="271" height="117"
                  alt="Диван шиниловый “V-43”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,8</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван шиниловый “V-43”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">19 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--8">
          <div class="card__img-wrapper">
            <a href="#" title="Диван велюровый “S-99”">
              <picture>
                <source srcset="img/high-rating-8.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-8.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-8.avif" type="image/avif">
                <source srcset="img/high-rating-8.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-8.png" class="card__img" width="212" height="124"
                  alt="Диван велюровый “S-99”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,7</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван велюровый “S-99”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">19 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--9">
          <div class="card__img-wrapper">
            <a href="#" title="Диван из кожзама “F-85”">
              <picture>
                <source srcset="img/high-rating-9.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-9.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-9.avif" type="image/avif">
                <source srcset="img/high-rating-9.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-9.png" class="card__img" width="262" height="125"
                  alt="Диван из кожзама “F-85”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,7</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван из кожзама “F-85”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">26 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--10">
          <div class="card__img-wrapper">
            <a href="#" title="Диван флоковый “H-64”">
              <picture>
                <source srcset="img/high-rating-10.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-10.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-10.avif" type="image/avif">
                <source srcset="img/high-rating-10.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-10.png" class="card__img" width="251" height="130"
                  alt="Диван флоковый “H-64”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,6</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван флоковый “H-64”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">25 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--11">
          <div class="card__img-wrapper">
            <a href="#" title="Диван флоковый “H-58”">
              <picture>
                <source srcset="img/high-rating-11.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-11.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-11.avif" type="image/avif">
                <source srcset="img/high-rating-11.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-11.png" class="card__img" width="233" height="133"
                  alt="Диван флоковый “H-58”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,6</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван флоковый “H-58”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">23 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--12">
          <div class="card__img-wrapper">
            <a href="#" title="Диван из кожзама “R-43”">
              <picture>
                <source srcset="img/high-rating-12.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-12.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-12.avif" type="image/avif">
                <source srcset="img/high-rating-12.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-12.png" class="card__img" width="271" height="105"
                  alt="Диван из кожзама “R-43”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,6</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван из кожзама “R-43”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">33 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--13">
          <div class="card__img-wrapper">
            <a href="#" title="Диван из шинила “С-42”">
              <picture>
                <source srcset="img/high-rating-13.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-13.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-13.avif" type="image/avif">
                <source srcset="img/high-rating-13.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-13.png" class="card__img" width="229" height="127"
                  alt="Диван из шинила “С-42”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,6</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван из шинила “С-42”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">18 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--14">
          <div class="card__img-wrapper">
            <a href="#" title="Диван велюровый “U-58”">
              <picture>
                <source srcset="img/high-rating-14.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-14.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-14.avif" type="image/avif">
                <source srcset="img/high-rating-14.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-14.png" class="card__img" width="269" height="92"
                  alt="Диван велюровый “U-58”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,6</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван велюровый “U-58”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">21 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--15">
          <div class="card__img-wrapper">
            <a href="#" title="Диван флоковый “F-41”">
              <picture>
                <source srcset="img/high-rating-15.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-15.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-15.avif" type="image/avif">
                <source srcset="img/high-rating-15.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-15.png" class="card__img" width="263" height="106"
                  alt="Диван флоковый “F-41”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,5</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван флоковый “F-41”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">17 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--16">
          <div class="card__img-wrapper">
            <a href="#" title="Диван велюровый “R-85”">
              <picture>
                <source srcset="img/high-rating-16.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-16.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-16.avif" type="image/avif">
                <source srcset="img/high-rating-16.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-16.png" class="card__img" width="251" height="105"
                  alt="Диван велюровый “R-85”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,5</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван велюровый “R-85”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">34 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--17">
          <div class="card__img-wrapper">
            <a href="#" title="Диван велюровый “S-44”">
              <picture>
                <source srcset="img/high-rating-17.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-17.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-17.avif" type="image/avif">
                <source srcset="img/high-rating-17.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-17.png" class="card__img" width="272" height="105"
                  alt="Диван велюровый “S-44”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,5</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван велюровый “S-44”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">19 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
      <li class="high-rating__item">
        <article class="card high-rating__card high-rating__card--18">
          <div class="card__img-wrapper">
            <a href="#" title="Диван из шинила “С-80”">
              <picture>
                <source srcset="img/high-rating-18.png" media="(max-width:480px)" width="108">
                <source srcset="img/high-rating-18.png" media="(max-width:576px)" width="130">
                <source srcset="img/high-rating-18.avif" type="image/avif">
                <source srcset="img/high-rating-18.webp" type="image/webp">
                <img loading="lazy" src="img/high-rating-18.png" class="card__img" width="227" height="130"
                  alt="Диван из шинила “С-80”">
              </picture>
            </a>
          </div>
          <span class="card__star">4,4</span>
          <div class="card__content">
            <h3 class="card__title">
              Диван из шинила “С-80”
            </h3>
            <div class="card__price-wrapper">
              <span class="card__price">20 990 руб</span>
            </div>
            <button class="btn-reset btn btn--stroke card__btn">Купить</button>
          </div>
        </article>
      </li>
    </ul>
    <div class="centered">
      <button class="btn-reset btn btn--fill high-rating__btn js-show-btn">Смотреть больше товаров</button>
    </div>
  </div>
</section>
