<section class="special-offers">
  <div class="container">
    <div class="special-offers__top">
      <h2 class="section-title">Специальные предложения</h2>
      <div class="slider-nav special-offers__slider-nav">
        <button class="btn-reset slider-nav__btn special-offers__prev swiper-button-disabled"
          aria-label="Предыдущая группа слайдов">
          <svg>
            <use class="arrow-left" xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn special-offers__next swiper-button-disabled"
          aria-label="Следующая группа слайдов">
          <svg>
            <use class="arrow-right" xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="special-offers__slider">
      <ul class="swiper-wrapper list-reset special-offers__list cards">
        <li class="swiper-slide special-offers__item">
          <article class="card card--1">
            <div class="card__img-wrapper">
              <a href="#" title="Кресло велюровое “X-24”">
                <picture>
                  <source srcset="img/spo-1.avif" type="image/avif">
                  <source srcset="img/spo-1.webp" type="image/webp">
                  <img loading="lazy" src="img/spo-1.png" class="card__img" width="193" height="210"
                    alt="Кресло велюровое “X-24”">
                </picture>
              </a>
            </div>
            <span class="card__hash">- 9 000</span>
            <div class="card__content">
              <h3 class="card__title">
                Кресло велюровое “X-24”
              </h3>
              <div class="card__price-wrapper">
                <span class="card__price">15 990 руб</span>
                <span class="card__price card__price--old">24 990 руб</span>
              </div>
              <button class="btn-reset btn btn--stroke card__btn">Купить</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide special-offers__item special-offers__item--large">
          <article class="card card--2">
            <div class="card__img-wrapper">
              <a href="#" title="Диван тканевый Z-44"">
                 <picture>
                <source srcset=" img/spo-2.avif" type="image/avif">
                <source srcset="img/spo-2.webp" type="image/webp">
                <img loading="lazy" src="img/spo-2.png" class="card__img" width="450" height="245"
                  alt="Диван тканевый Z-44">
                </picture>
              </a>
            </div>
            <span class="card__hash">- 10 000</span>
            <span class="card__couch card__couch--2"></span>
            <div class="card__content">
              <h3 class="card__title">
                Диван тканевый “Z-44”
              </h3>
              <div class="card__price-wrapper">
                <span class="card__price">22 990 руб</span>
                <span class="card__price card__price--old">32 990 руб</span>
              </div>
              <button class="btn-reset btn btn--stroke card__btn">Купить</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide special-offers__item">
          <article class="card card--3">
            <div class="card__img-wrapper">
              <a href="#" title="Будильник Quartz-23">
                <picture>
                  <source srcset="img/spo-3.avif" type="image/avif">
                  <source srcset="img/spo-3.webp" type="image/webp">
                  <img loading="lazy" src="img/spo-3.png" class="card__img" width="149" height="218"
                    alt="Будильник Quartz-23">
                </picture>
              </a>
            </div>
            <span class="card__hash">- 600</span>
            <div class="card__content">
              <h3 class="card__title">
                Будильник “Quartz-23”
              </h3>
              <div class="card__price-wrapper">
                <span class="card__price">1 290 руб</span>
                <span class="card__price card__price--old">1 890 руб</span>
              </div>
              <button class="btn-reset btn btn--stroke card__btn">Купить</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide special-offers__item">
          <article class="card card--4">
            <div class="card__img-wrapper">
              <a href="#" title="Мини-скульптура Oh my deer">
                <picture>
                  <source srcset="img/spo-4.avif" type="image/avif">
                  <source srcset="img/spo-4.webp" type="image/webp">
                  <img loading="lazy" src="img/spo-4.png" class="card__img" width="117" height="210"
                    alt="Мини-скульптура Oh my deer">
                </picture>
              </a>
            </div>
            <span class="card__hash">- 300</span>
            <div class="card__content">
              <h3 class="card__title">
                Мини-скульптура “Oh my deer”
              </h3>
              <div class="card__price-wrapper">
                <span class="card__price">690 руб</span>
                <span class="card__price card__price--old">990 руб</span>
              </div>
              <button class="btn-reset btn btn--stroke card__btn">Купить</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide special-offers__item special-offers__item--large">
          <article class="card card--5">
            <div class="card__img-wrapper">
              <a href="#" title="Диван вел-флок “Z-85”">
                <picture>
                  <source srcset="img/spo-5.avif" type="image/avif">
                  <source srcset="img/spo-5.webp" type="image/webp">
                  <img loading="lazy" src="img/spo-5.png" class="card__img" width="463" height="223"
                    alt="Диван вел-флок “Z-85”">
                </picture>
              </a>
            </div>
            <span class="card__hash">- 10 000</span>
            <span class="card__couch card__couch--5"></span>
            <div class="card__content">
              <h3 class="card__title">
                Диван вел-флок “Z-85”
              </h3>
              <div class="card__price-wrapper">
                <span class="card__price">22 990 руб</span>
                <span class="card__price card__price--old">32 990 руб</span>
              </div>
              <button class="btn-reset btn btn--stroke card__btn">Купить</button>
            </div>
          </article>
        </li>
        <li class="swiper-slide special-offers__item">
          <article class="card card--6">
            <div class="card__img-wrapper">
              <a href="#" title="Термометр + гидрометр “H-18”">
                <picture>
                  <source srcset="img/spo-6.avif" type="image/avif">
                  <source srcset="img/spo-6.webp" type="image/webp">
                  <img loading="lazy" src="img/spo-6.png" class="card__img" width="183" height="218"
                    alt="Термометр + гидрометр “H-18”">
                </picture>
              </a>
            </div>
            <span class="card__hash">- 700</span>
            <div class="card__content">
              <h3 class="card__title">
                Термометр + гидрометр “H-18”
              </h3>
              <div class="card__price-wrapper">
                <span class="card__price">1 390 руб</span>
                <span class="card__price card__price--old">2 090 руб</span>
              </div>
              <button class="btn-reset btn btn--stroke card__btn">Купить</button>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
