<section class="top">
  <div class="container">
    <h3 class="section-title">Топ категории</h3>
    <ul class="top__list list-reset">
      <li class="top__item">
        <article class="top__card card-top card-top--1">
          <ul class="list-reset card-top__list sort sort--main">
            <li class="sort__item">
              <a href="#" class="sort__link sort__link--main">Прямые</a>
            </li>
            <li class="sort__item">
              <a href="#" class="sort__link sort__link--main">Угловые</a>
            </li>
            <li class="sort__item">
              <a href="#" class="sort__link sort__link--main">Модульные</a>
            </li>
          </ul>
          <div class="card-top__content">
            <h3 class="card-top__title card-top__title--main">Диваны</h3>
            <a href="catalog.html" class="card-top__btn card-top__btn--main">
              <svg>
                <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
          <a href="catalog.html" class="card-top__link">
            В каталог
            <svg>
              <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="top__item">
        <article class="top__card card-top card-top--2">
          <ul class="list-reset card-top__list sort">
            <li class="sort__item">
              <a href="#" class="sort__link">Мягкие</a>
            </li>
            <li class="sort__item">
              <a href="#" class="sort__link">Кресла-кровати</a>
            </li>
          </ul>
          <div class="card-top__content">
            <h3 class="card-top__title">Кресла</h3>
            <a href="catalog.html" class="card-top__btn">
              <svg>
                <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
          <a href="catalog.html" class="card-top__link">
            В каталог
            <svg>
              <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="top__item">
        <article class="top__card card-top card-top--3">
          <ul class="list-reset card-top__list sort">
            <li class="sort__item">
              <a href="#" class="sort__link">Односпальные</a>
            </li>
            <li class="sort__item">
              <a href="#" class="sort__link">Двуспальные</a>
            </li>
          </ul>
          <div class="card-top__content">
            <h3 class="card-top__title">Кровати</h3>
            <a href="catalog.html" class="card-top__btn">
              <svg>
                <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
          <a href="catalog.html" class="card-top__link">
            В каталог
            <svg>
              <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="top__item">
        <article class="top__card card-top card-top--4">
          <ul class="list-reset card-top__list sort">
            <li class="sort__item">
              <a href="#" class="sort__link">Тумбы</a>
            </li>
            <li class="sort__item">
              <a href="#" class="sort__link">Комоды</a>
            </li>
          </ul>
          <div class="card-top__content">
            <h3 class="card-top__title">Тумбы и&nbsp;комоды</h3>
            <a href="catalog.html" class="card-top__btn">
              <svg>
                <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
          <a href="catalog.html" class="card-top__link">
            В каталог
            <svg>
              <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
      <li class="top__item">
        <article class="top__card card-top card-top--5">
          <ul class="list-reset card-top__list sort">
            <li class="sort__item">
              <a href="#" class="sort__link">Деревянные</a>
            </li>
            <li class="sort__item">
              <a href="#" class="sort__link">Металлокаркас</a>
            </li>
          </ul>
          <div class="card-top__content">
            <h3 class="card-top__title">Стулья</h3>
            <a href="catalog.html" class="card-top__btn">
              <svg>
                <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
              </svg>
            </a>
          </div>
          <a href="catalog.html" class="card-top__link">
            В каталог
            <svg>
              <use class="arrow-btn" xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
