<section class="useful">
  <div class="container">
    <div class="useful__top">
      <h2 class="section-title">Полезное</h2>
      <div class="slider-nav useful__slider-nav">
        <button class="btn-reset slider-nav__btn useful__prev swiper-button-disabled"
          aria-label="Предыдущая группа слайдов">
          <svg>
            <use class="arrow-left" xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn useful__next swiper-button-disabled"
          aria-label="Следующая группа слайдов">
          <svg>
            <use class="arrow-right" xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="useful__slider">
      <ul class="swiper-wrapper list-reset useful__list useful__cards">
        <li class="swiper-slide useful__item">
          <article class="useful__card useful-card">
            <h2 class="visually-hidden">An article to read</h2>
            <picture>
              <source srcset="img/useful-1.avif" type="image/avif">
              <source srcset="img/useful-1.webp" type="image/webp">
              <img loading="lazy" src="img/useful-1.jpg" class="useful-card__img" width="624" height="426"
                alt="Интерьер комнаты">
            </picture>
            <div class="useful-card__content">
              <p class="useful-card__descr">И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы
                представляют собой не&nbsp;что иное?</p>
              <a class="btn-reset btn btn--stroke useful-card__btn" href="#">Читать</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide useful__item">
          <article class="useful__card useful-card">
            <h2 class="visually-hidden">An article to read</h2>
            <picture>
              <source srcset="img/useful-2.avif" type="image/avif">
              <source srcset="img/useful-2.webp" type="image/webp">
              <img loading="lazy" src="img/useful-2.jpg" class="useful-card__img" width="624" height="426"
                alt="Интерьер комнаты">
            </picture>
            <div class="useful-card__content">
              <p class="useful-card__descr">Как принято считать, некоторые особенности приносят несомненную пользу
                обществу?</p>
              <a class="btn-reset btn btn--stroke useful-card__btn" href="#">Читать</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide useful__item">
          <article class="useful__card useful-card">
            <h2 class="visually-hidden">An article to read</h2>
            <picture>
              <source srcset="img/useful-3.avif" type="image/avif">
              <source srcset="img/useful-3.webp" type="image/webp">
              <img loading="lazy" src="img/useful-3.jpg" class="useful-card__img" width="624" height="426"
                alt="Интерьер комнаты">
            </picture>
            <div class="useful-card__content">
              <p class="useful-card__descr">Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней
                структуры?</p>
              <a class="btn-reset btn btn--stroke useful-card__btn" href="#">Читать</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide useful__item">
          <article class="useful__card useful-card">
            <h2 class="visually-hidden">An article to read</h2>
            <picture>
              <source srcset="img/useful-4.avif" type="image/avif">
              <source srcset="img/useful-4.webp" type="image/webp">
              <img loading="lazy" src="img/useful-4.jpg" class="useful-card__img" width="624" height="426"
                alt="Интерьер комнаты">
            </picture>
            <div class="useful-card__content">
              <p class="useful-card__descr">Прежде всего, консультация с&nbsp;широким активом однозначно фиксирует
                необходимость распределения?</p>
              <a class="btn-reset btn btn--stroke useful-card__btn" href="#">Читать</a>
            </div>
          </article>
        </li>
        <li class="swiper-slide useful__item">
          <article class="useful__card useful-card">
            <h2 class="visually-hidden">An article to read</h2>
            <picture>
              <source srcset="img/useful-5.avif" type="image/avif">
              <source srcset="img/useful-5.webp" type="image/webp">
              <img loading="lazy" src="img/useful-5.jpg" class="useful-card__img" width="624" height="426"
                alt="Интерьер комнаты">
            </picture>
            <div class="useful-card__content">
              <p class="useful-card__descr">Как принято считать, некоторые особенности приносят несомненную пользу
                обществу?</p>
              <a class="btn-reset btn btn--stroke useful-card__btn" href="#">Читать</a>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
